
/* Your CSS Code here. */
.r1c1>div{
    background-color: #008081;
}
.r1c2>div{
    background-color: #d7bfd7;
}
.r2c1>div{
    background-color: #fe6347;
}
.r2c2>div{
    background-color: #3fe0d0;
}
.r3c1>div{
    background-color: #ee82ef;
}
.r3c2>div{
    background-color:  #9acd32;
}
.col{
    padding: 0px!important;
}
.col>div{
    height: 220px;
    border: 2px solid black;
    border-style: dotted;
}
.row{
    background-color:  #290000;
    border: 5px solid #ffb9ba;
}
.container{
    border: 7px solid  #05fe08;
}

